  
<div>
	<md-grid-list md-cols="5" md-gutter="0px" md-row-height="16px">
		<md-grid-tile> 
			<span id="dateWeek" ng-bind="extractSemDay(-2)"></span>
		</md-grid-tile>
		<md-grid-tile>
			<span id="dateWeek" ng-bind="extractSemDay(-1)"></span>
		</md-grid-tile>
		<md-grid-tile>
			<span id="dateWeek" ng-bind="extractSemDay()"></span>
		</md-grid-tile>
		<md-grid-tile>
			<span id="dateWeek" ng-bind="extractSemDay(1)"></span>
		</md-grid-tile>
		<md-grid-tile>
			<span id="dateWeek" ng-bind="extractSemDay(2)"></span>
		</md-grid-tile>
	</md-grid-list>
    <md-divider>
    <md-grid-list id="tableDatesAux" md-cols="5" md-gutter="0px" md-row-height="56px">
		<md-grid-tile ng-class="{date_not_enabled:isNotSel(-2)}" ng-click="initDayAppos(-2, $event)"> 
			<span ng-bind="extractDayMonth(-2)"></span>
		</md-grid-tile>
		<md-grid-tile ng-class="{date_not_enabled:isNotSel(-1)}" ng-click="initDayAppos(-1, $event)">
			<span ng-bind="extractDayMonth(-1)"></span> 
		</md-grid-tile>
		<md-grid-tile class="date_not_enabled">
			<span class="today" ng-bind="extractDayMonth()"></span>
		</md-grid-tile>
		<md-grid-tile ng-class="{date_not_enabled:isNotSel(1)}" ng-click="initDayAppos(1, $event)">
			<span ng-bind="extractDayMonth(1)"></span>
		</md-grid-tile>
		<md-grid-tile ng-class="{date_not_enabled:isNotSel(2)}" ng-click="initDayAppos(2, $event)">
			<span ng-bind="extractDayMonth(2)"></span>
		</md-grid-tile>
	</md-grid-list>  
</div>	
<md-divider class="clear">
<div>
    <md-grid-list id="tableDays" md-cols="{{appo.cols}}" md-gutter-sm="4px" md-row-height="fit" style="height:{{appo.height}}px !important; widthss:260px !important;">
		<md-grid-tile ng-repeat="appointment in appo.appointments" ng-click="onSelectDayAppo(appointment)">
			
			<span ng-hidess="appointment.bgColor>0" class="calendarDayText">
				{{appointment.apoName}}
				<span ng-show="appointment.bgColor>0" class="calendarDayText">
				{{appointment.apoCalendarName}}
				</span>	
				<md-icon md-font-library="material-icons" class="md-warn">check</md-icon>
			</span>
					<!-- 		<div ng-show="appointment.bgColor>0" class="calendarDaySP bg-color{{bgColor}}" style="margin-top: {{appointment.apoX}}px; left: {{appointment.apoY}}%;">
									<p class="calendarDayText">{{appointment.apoName}}</p>
									<p class="calendarDayText special">{{appointment.apoCalendarName}}</p>
								</div> -->						
			
		</md-grid-tile>
	</md-grid-list>    	
</div>