<?xml version="1.0" encoding="UTF-8"?>

<!-- - Sample namespace-based configuration - -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <http use-expressions="true" entry-point-ref="gwtEntryPoint">
        <access-denied-handler ref="gwtAccessDeniedHandler"/>
		<!--<intercept-url pattern="/register.do*" access="hasRole('NEW_USER')" />-->
		<intercept-url pattern="/**/**admin**/**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/**/**manager**/**" access="hasAnyRole('ADMIN','MANAGER')" />
		<intercept-url pattern="/**/**operator**/**" access="hasAnyRole('ADMIN','OPERATOR','OPERATOR_READ')" />
		<intercept-url pattern="/**/**report**/**" access="hasAnyRole('ADMIN','MANAGER')" />
		<intercept-url pattern="/**/**booking**/**" access="hasAnyRole('ADMIN','USER')" />
		<custom-filter position="PRE_AUTH_FILTER" ref="gwtFilter" />  
	</http>
	
	<beans:bean id="gwtEntryPoint" class="com.diloso.weblogin.aut.AccountsAuthenticationEntryPoint">
		<!-- <beans:property name="redirectUrl" value="/operator" />-->
	</beans:bean>	
	
	<beans:bean id="gwtAccessDeniedHandler" class="com.diloso.weblogin.aut.AppAccessDeniedHandler">  
 		<!-- <beans:property name="accessDeniedUrl" value="403" />-->  
  	</beans:bean> 
	
	<beans:bean id="gwtFilter" class="com.diloso.weblogin.aut.AuthenticationFilter">
		<beans:property name="authenticationApp" ref="gwtAuthenticationApp" />
		<beans:property name="authenticationManager" ref="gwtAuthenticationManager" />
		<beans:property name="deniedHandler" ref="gwtAccessDeniedHandler" />
	</beans:bean>
	
	<beans:bean id="gwtAuthenticationApp" class="com.diloso.app.controllers.FirmController" />
	
	<authentication-manager alias="gwtAuthenticationManager">
		<authentication-provider
			ref="gwtAuthenticationProvider" />
	</authentication-manager>


	<beans:bean id="gwtAuthenticationProvider" 	class="com.diloso.weblogin.aut.AccountsAuthenticationProvider">
		<beans:property name="userRegistry" ref="gwtUserRegistry" />
		<beans:property name="usersAuthenticatedAdmin">
			<beans:list>
				<beans:value>javihsan@gmail.com</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="gwtUserRegistry" class="com.diloso.weblogin.aut.DatastoreUserRegistry" />


</beans:beans>
