<li>
 	<div class="right tag  {{^enabled}}cancel{{/enabled}}{{#enabled}}accept{{/enabled}}">{{texts.enabled}}</div>
    <strong>{{firName}}</strong>
    <small>{{firDomain}}</small>
    <small>{{firRespon}}</small>
</li>
